.container-main {
  display: flex !important;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100vh !important;
}

.buttonProgress {
  color: white !important;
}
